<h2>Welcome, <%=@user.name%></h2>


<%= link_to "Log Out", logout_path%>

<h3>Active Matches: </h3>
<table>
    <tr>
        <td>
            <th>Opponent</th>
        </td>
        <td>
            <th>Started</th>
        </td>
        <td>
            <th>Status</th>
        </td>
    </tr>
</table>

<h3>My Stats:</h3>
<p><b>Record (All-time): </b>54-42-23 (### Total Games)</p>
<p><b>Current Streak: </b>+3</p>
<p><b>Longest Streak: </b>+8</p>
<p><b>Favorite Throw:</b>Rock (46% of throws)</p>


